.form-group {
    padding: 0.5%;
    font-weight: bold;
}

.btn {
    margin-top: 0.5%;
}

.profile-image img {
    max-height: 200px;
    max-width: 200px;
}

.profile-avatar img {
    max-height: 40px;
    max-width: 40px;
}
