{% extends 'students/_base.html' %}

{% block title %}View students{% endblock %}

{% load crispy_forms_tags %}
{% block main %}
    <form class="bootstrap4">
        <p>Search students 🔎</p>
        {{ filter.form|crispy}}
        <p><button class="btn btn-secondary" type="submit">Search</button></p>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'students:create_student' %}">Add a new student</a><br>
    <p></p>

    {% include 'students/_students_list.html' with students=filter.qs|slice:":20"%}

{% endblock %}