{% extends 'teachers/_base.html' %}

{% block title %}View teachers{% endblock %}

{% load crispy_forms_tags %}
{% block main %}
    <form class="bootstrap4">
        <p>Search teachers 🔎</p>
        {{ filter.form|crispy}}
        <p><button class="btn btn-secondary" type="submit">Search</button></p>
    </form>
    <br>
    <a class="btn btn-primary" href="{% url 'teachers:create_teacher' %}">Add a new teacher</a><br>
    <p></p>

    {% include 'teachers/_teachers_list.html' with teachers=object_list %}

{% endblock %}