{% extends 'core_lms/_base.html' %}

{% block title %}Update Profile{% endblock %}

{% load crispy_forms_tags %}
{% block main %}
    <h2>Update Profile</h2>
    <form method="post" class="bootstrap4">

        <div id="div_id_login" class="form-group"><label for="id_login" class="">
                User Name
        </label>
            <div><input type="text" name="login" value="{{ user.username }}"
                        maxlength="150"
                        class="textinput textInput form-control"
                        id="id_login"
                        disabled="disabled">
            </div>
        </div>

        {% csrf_token %}
        {{form|crispy}}
        <p><button type="submit" class="btn btn-primary">Update Profile</button></p>
    </form>
{% endblock %}